/*#noJS {

}



#Transcript {

}

*/
#Options-button {
    justify-self: right;
}

#Options-area {
    position:fixed;
    background-color: lightblue;
    transition: right 2s;
}

#Options-area.options-out{
    right:-50px;
}

#Options-area.options-in{
    right:0px;
}

#Video {
    max-height:35vh;
}

#Video-area {
    border: 1px solid black;
}

#Transcript-table {
    border-collapse: collapse;
}

#Transcript-table > tr > td {
    border: 1px solid black;
}

#Transcript-table > thead > tr {
    background-color: grey;
    background: solid;
}

div.scrollable {
    max-height:55vh;
    overflow-y:auto;
    border: 1px solid black;

}

div.centerflex {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.controlGrid {
    display:flex;
    align-items: center;
}

.syncHighlight {
    background-color: yellow;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; 
}