/*#noJS {

}



#Transcript {

}

*/
body{
    background: linear-gradient(#82e664, #64a7e6);
}

#Options-button {
    justify-self: right;
}

#Options-area {
    position:fixed;
    background-color: lightblue;
    transition: right 2s;
    padding-right: 5px;
    max-width:350px;
}

#Options-area.options-out{
    right:-350px;
}

#Options-area.options-in{
    right:0px;
}

#Video {
    max-height:35vh;
}

#Video-area {
    border: 1px solid black;
}

#Transcript-table {
    border-collapse: collapse;
    background-color:hsla(120, 73%, 75%, 0.75);

}

#Transcript-table > tr > td {
    border: 1px solid black;
}

#Transcript-table > thead > tr {
    background-color: grey;
    background: solid;
}

div.scrollable {
    max-height:55vh;
    overflow-y:auto;
    border: 1px solid black;

}

div.centerflex {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.controlGrid {
    display:flex;
    align-items: center;
}

.syncHighlight {
    background-color: yellow;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; 
}

.errorLine {
    background-color: red;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

textarea {
    resize:none;
    field-sizing: content;
    max-width: 45ch;
    background-color:rgba(0, 0, 0, 0.25);
    border: 1px black solid;
    padding-right:1ch;
}